/*信息页面css*/
#rounded-corner {
    margin: 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#rounded-corner th {
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #535E66;
    background: #dde8f0;
    text-shadow: 1px 1px #F2F8FC;
}

#rounded-corner tr.odd td {
    padding: 8px;
    background: #f4f9fd;
    border-top: 1px solid #fff;
    color: #669;
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

body {
	font-family: montserrat, arial, verdana;
}

#rounded-corner tr.even td {
    padding: 8px;
    background: #fcfdfe;
    border-top: 1px solid #fff;
    color: #669;
}

#rounded-corner tfoot td {
    background: #dde8f0;
    font-size: 11px;
    padding: 8px 8px 8px 15px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#rounded-corner tbody tr:hover td {
    background: #dde8f0;
}

/*其他按钮样式*/
.form_sub_buttons{ float:left; margin: 15px 5px 15px;}
a{color:#0291d4; text-decoration:none;}
a.button{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:arial;font-size:12px;font-weight: bold;padding:8px 12px 8px 12px;text-align: center;cursor:pointer; margin:10px 10px 0 0; float:left;}
.red{color:#fff;background: #eb8484;text-shadow:1px 1px #cc5959;}
.green{color:#fff;background: #7dc44e;text-shadow:1px 1px #4c9021;}
.bule{color: #fff;background: #02A6E8;text-shadow:1px 1px #0291d4;}
.red:hover{ background-color:#d96060;}
.green:hover{ background-color:#69b736;}
.bule:hover{ background-color: #027BB4;}

/* Tabs
/*------------------------------------------*/
ul.tabsmenu {
    padding: 15px 0 0 0;
    clear: both;
    list-style: none;
    margin: 0px auto;
}

ul.tabsmenu li a {
    width: auto;
    float: left;
    margin: 0 5px 0 0;
    text-align: center;
    background-color: #bad7e6;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #22425e;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-shadow: 1px 1px #DCEEF7;
}

ul.tabsmenu li.active a {
    background-color: #9CB9C8;
}

ul.tabsmenu li a:hover {
    background-color: #9CB9C8;
}

.tabcontent {
    padding: 10px;
    clear: both;
    display: block;
    border: 1px white solid;
    margin: 0 0 15px 0;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*-------------------------------------form-------------------------------------*/
.form {
    padding: 20px;
}

.form_row {
    width: 610px;
    float: left;
    clear: both;
    margin: 0 0 10px 0;
}

.form_row label {
    width: 100px;
    float: left;
    padding: 5px 0 0px 0;
    font-size: 15px;
    color: #535E66;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
    text-align: left;
}

.form_input {
    display: block;
    width: 500px;
    height: 34px;
    float: left;
    padding: 0px 0px 0 4px;
    background-color: #F4F6F7;
    border: 1px #90A9B7 solid;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

select.form_select {
    width: 506px;
    height: 37px;
    float: left;
    padding: 8px 5px 8px 4px;
    background-color: #F4F6F7;
    border: 1px #90A9B7 solid;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

select.form_select_many {
    width: 506px;
    float: left;
    padding: 8px 5px 8px 4px;
    background-color: #F4F6F7;
    border: 1px #90A9B7 solid;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form_textarea {
    width: 500px;
    height: 100px;
    float: left;
    padding: 3px 0px 0 4px;
    background-color: #F4F6F7;
    border: 1px #90A9B7 solid;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

input.form_submit {
    display: block;
    float: right;
    width: 100px;
    clear: both;
    margin: 0px 5px 0 0px;
    color: #fff;
    background: #7dc44e;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    text-shadow: 1px 1px #4c9021;
}

/*左侧导航栏样式*/
.sidebar{
    width:350px;
    float:left;margin-left: 50px;
    padding:0px 0 0 0px;
    position:relative;
    left:0px;
}
.sidebar h2{
    width:187px; margin:0px 10px 0 10px;
    -moz-border-radius-topleft:6px;-webkit-border-top-left-radius:6px;-khtml-border-top-left-radius:6px;border-top-left-radius:6px;
    -moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;-khtml-border-top-right-radius:6px;border-top-right-radius:6px;
    background-color:#bad7e6; color:#22425e; font-size:14px; font-weight:bold; padding:10px 0 10px 15px; text-shadow:1px 1px #DCEEF7;
    border-bottom:1px #8A9296 solid;
}
.sidebar ul{
    background-color:#FFFFFF; list-style:none;
    width:170px; border:1px #D6D6D6 solid; border-top:none;
    padding:10px 15px 15px 15px; margin:0px 0 15px 10px;
    -moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;-khtml-border-bottom-left-radius:6px;border-bottom-left-radius:6px;
    -moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-khtml-border-bottom-right-radius:6px;border-bottom-right-radius:6px;
}
.sidebar ul li{
    border-bottom:1px #ededed solid;
}
.sidebar ul li a{
    color:#000000; display:block;padding:5px 0 5px 5px;
}
.sidebar ul li a:hover{
    background-color:#ededed;
    color: #1A8FBF;
}
.sidebar_section_text{
    background-color:#FFFFFF;
    width:170px; border:1px #D6D6D6 solid; border-top:none;
    padding:10px 15px 15px 15px; margin:0px 0 15px 10px;
    -moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;-khtml-border-bottom-left-radius:6px;border-bottom-left-radius:6px;
    -moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-khtml-border-bottom-right-radius:6px;border-bottom-right-radius:6px;}
